@charset "utf-8";


/* 共通CSS */
body,
h1{
  margin: 0;
}

body{
  padding: ;
}

li{
  list-style: none;
}

/* header */
header{
  background: #99e6ff;
  padding: 32px 48px;

}

h1{
  font-size: 20px;
  font-weight: normal;
  color: #333;
}

/* お知らせエリア */
.news-wrapper{
  border: 1px solid #333;
  border-radius: 8px;
  max-width: 400px ;
  margin: 48px auto 8px;
}

h3{
  font-size: 16px;
  padding: 0 16px;
  margin-bottom: 0;
}

.news-text{
  font-size: 12px;
  padding: 16px;
  margin: 0;
}

/* 説明エリア */
.setsumei-wrapper{
  /* background: pink; */
  max-width: 460px ;
  margin: 0 auto;
}

h2{
  display: inline-block;
  font-weight: normal;
  border-bottom: 1px solid #333;
  margin-bottom: 0;
}

.setsumei-Ja{
  font-size: 14px;
  margin: 0 12px;
}

/* footer */
footer{
  text-align: center;
  background: #333;
  margin-top: 48px;
  padding: 32px 0;
}

footer small{
  color: white;
}