@charset "utf-8";


/* 共通CSS */
body,
h1,
h2,
h3,
p{
  margin: 0;
}

ul{
  padding: 0;
}

li{
  list-style: none;
}

.wrapper{
  padding: 0 32px;
}

/* header */
header{
  background: #99e6ff;
  padding: 32px 48px;
  border-bottom: 2px solid #333;
}

h1{
  font-size: 20px;
  font-weight: normal;
  color: #333;
}

/* お知らせエリア */
.news{
  box-shadow: 0 0 8px rgb(0 0 0 / 0.15);
  border-left: 20px solid#99e6ff;
  border-radius: 8px;
  max-width: 400px ;
  margin: 48px auto;
  padding: 8px 16px;
}

h3{
  font-size: 16px;
}

.news-text{
  font-size: 12px;
  margin: 0;
}

/* 説明エリア */
.setsumei{
  max-width: 460px ;
  margin: 0 auto;
  p{
    margin-bottom: 16px;
  }
}

h2{
  display: inline-block;
  font-weight: normal;
  border-bottom: 1px solid #333;
}

.setsumei-Ja{
  font-size: 14px;
  margin: 0 12px;
}



/* footer */
footer{
  text-align: center;
  background: #333;
  margin-top: 48px;
  padding: 32px 0;
}

footer small{
  color: white;
}